body {
    display: flex;
    justify-items: normal;
}

#red-button {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: tomato;
    width: 50px;
    padding: 2px 5px;
    border-radius: 3px;
    height: fit-content;
    transition: transform .5s;
}

.text-red {
    color: tomato;
}

.no-highlight-text {
    user-select: none;
}

#red-button:hover {
    transform: scale(1.5);
}